# === BACKEND (Java / Spring Boot) ===
HELP.md
#tenemos que ignorar el archivo de ayuda para el deploy
#target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
*.log
*.jar
*.war
/.idea/
.mvn/
*.db
*.sqlite

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



# Logs
logs/

# Eclipse / IntelliJ
*.classpath
*.project
*.settings/
.idea/


# OS junk
.DS_Store
Thumbs.db
